{
  "presets": [
    "next/babel",
    "@babel/preset-react"
  ],
  "plugins": [
     ["@babel/plugin-proposal-decorators", {"legacy": true }],
     ["@babel/plugin-proposal-class-properties", { "loose": true }],
     ["import", { "libraryName": "antd-mobile",  "style": true }], // `style: true` 会加载 less 文件  issues https://github.com/ant-design/ant-design-mobile/issues/2287
     ["module-resolver",{
        "root": ["./"],
        "alias": {
          "components": "./components"
        }
      }
      ]
  ]
}
